@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
	/*primary*/
	--Cyan: hsl(179, 62%, 43%); /*azulcito*/
	--Light-cyan:hsl(179, 47%, 52%) ;
	--Bright-Yellow: hsl(71, 73%, 54%); /*btn*/
	/*neutral*/
	--Light-Gray: hsl(204, 43%, 93%); /*gris*/
	--GrayishwBlue: hsl(218, 22%, 67%); /*gris oscuro*/
}

/*fonts weights 400,700*/

/*----- globals -----*/

html {
	min-width: 375px;
	max-width: 1440px;
	margin: auto;
	font-size: 100%;
}

body {
	background-color: var(--Light-Gray);
	font-size: 16;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Karla', sans-serif;
	padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	color: white;
}

/*----- class -----*/

.container {
	border-radius: 8px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "community"
						 "subscription"
						 "why";
}

.block {
	padding:1.875rem 1.5rem;
}

/*-----community -----*/

.community {
	background-color: white;
	grid-area: community;
}

.community h3 {
	color: var(--Cyan);
	margin-bottom: 2.0625rem;
}

.community span {
	display: inline-block;
	font-weight: 700;
	color: var(--Bright-Yellow);
	margin-bottom: 1.875rem;
}

.community p {
	color: var(--GrayishwBlue);
	line-height: 1.7;
	font-size: 0.875rem;
}

/*----- subscription -----*/

.subscription {
	background-color:var(--Cyan);
	grid-area: subscription;
}

.subscription h3 {
	margin-bottom: 1.6rem;
}

.subscription p {
	color: white;
	margin-bottom: 2.0625rem;
}

.flex {
	margin: 0 0 .5rem 0;
	display: flex;
	align-items: center;
}

.flex span {
	color: white;
	margin-right: 1rem;
	font-weight: 700;
	font-size: 2rem;
}

.flex p {
	margin: 0;
	color: var(--Light-Gray);
}

.btn {
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	background-color: var(--Bright-Yellow);
	width: 100%;
	padding: 1rem 0 ;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px gray;
}

/*----- why us -----*/

.why {
	grid-area:why ;
	background-color: var(--Light-cyan);
}

.why h3 {
	margin-bottom: 1.75rem;
}

.why p {
	padding-right: 5.3rem;
	font-size: 0.875rem;
	color: var(--Light-Gray);
	line-height: 1.7;
}

/*----- media querie -----*/

@media (min-width: 37.5rem){

	.container {
		max-width: 41rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "community community"
							 "subscription why"
	}

	.block {
		padding: 1.875rem 2.625rem;
	}

	/*----- community -----*/

	.community h3 {
		font-size: 1.5rem;
	}

	.community span {
		font-size: 1.1rem;
	}

	.community p {
		font-size: 1rem;
	}

	/*----- why -----*/

	.why p{
		padding-right: 3rem;
	}
}