@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
	/*primary*/
	--Cyan: hsl(179, 62%, 43%); /*azulcito*/
	--Bright-Yellow: hsl(71, 73%, 54%); /*btn*/
	/*neutral*/
	--Light-Gray: hsl(204, 43%, 93%); /*gris*/
	--GrayishwBlue: hsl(218, 22%, 67%); /*gris oscuro*/
}

/*fonts weights 400,700*/

/*----- globals -----*/

html {
	min-width: 375px;
	max-width: 1440px;
	margin: auto;
	font-size: 100%;
}

body {
	background-color: var(--Light-Gray);
	font-size: 16;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Karla', sans-serif;
	padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	color: white;
}

/*----- class -----*/

.container {
	border-radius: 8px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "community"
						 "subscription"
						 "why";
}

.block {
	padding:1.875rem 1.5rem;
}

/*-----community -----*/

.community {
	background-color: white;
	grid-area: community;
}

.community h3 {
	color: var(--Cyan);
	margin-bottom: 2.0625rem;
}

.community span {
	display: inline-block;
	font-weight: 700;
	color: var(--Bright-Yellow);
	margin-bottom: 1.875rem;
}

.community p {
	color: var(--GrayishwBlue);
	line-height: 1.7;
	font-size: 0.875rem;
}

/*----- subscription -----*/

.subscription {
	background-color:var(--Cyan);
	grid-area: subscription;
}

/*----- why us -----*/

.why {
	grid-area:why ;
}